---
layout: default
title: About
---

<!-- main -->
<section class="section">
  <div class="container">
    <div class="content">
      <h1>About VGL</h1>

      <p>The <strong class="has-text-vgl-primary">Visualization and Graphics Lab (VGL)</strong> was founded in November 2015 to bring together faculty and students to discuss and collaborate on research in the data visualization and graphics fields. Our regular lab meetings are open to all students, faculty, and staff at USF as well as interested members of the public.</p>

      <h2>Contact</h2>

      <p>We can be reached on the <code><i class="fab fa-slack-hash"></i>vgl</code> channel on the <a href="https://usfcs.slack.com/">USFCS Slack Team</a>. If you have an <code>@cs.usfca.edu</code>, <code>@usfca.edu</code>, or <code>@dons.usfca.edu</code> email address, you can <a href="https://usfcs.slack.com/signup/">create a free account</a> and join our channel. Otherwise, please email <a href="mailto:vgl@cs.usfca.edu">vgl@cs.usfca.edu</a> to receive an invite.</p>

      <h2>Core Faculty</h2>

      {% for person in site.data.people.faculty %}
      <article class="media is-borderless">
        <div class="media-left">
          <p class="image is-96x96">
            <img src="{{ "images/" | append: person.image | relative_url }}">
          </p>
        </div>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>{{ person.first }} {{ person.last }}</strong>
              {% for link in person.links %}
              <a href="{{ link.link }}" alt="{{ link.name }}"><i class="{{ link.icon }}"></i></a>
              {% endfor %}
              <br/>
              {{ person.about }}
            </p>
          </div>
      </article>
      {% endfor %}

      <br/>

      <p>We also frequently work with other USF faculty and students, as well as several external collaborators. See our <a href="research.html">Research</a> page to see who we have published with.</p>

      <h2>Past Events</h2>

      <p>VGL occasionally hosts, sponsors, or helps organize various on-campus and off-campus events. These can be found archived below.</p>

      <h4>Pedagogy of Data Visualization Workshop (PDVW)</h4>

      <p>The pedagogy of data visualization is becoming increasingly important as data visualization techniques and tools proliferate. This workshop creates a community of practice that supports each other as they learn to be better teachers in their respective classrooms.</p>

      <p>This half-day interactive workshop was held in conjunction with IEEE VIS in 2016 and 2017.</p>

      <p>
        <a href="http://vgl.cs.usfca.edu/pdvw/2016/" class="button is-small is-light">
          PDVW 2016&nbsp;
          <i class="fas fa-angle-double-right"></i>
        </a>
        &nbsp;
        <a href="http://vgl.cs.usfca.edu/pdvw/2017/" class="button is-small is-light">
          PDVW 2017&nbsp;
          <i class="fas fa-angle-double-right"></i>
        </a>
      </p>

      <h4>Data Visualization Speaker Series (DVSS)</h4>

      <p>This speaker series was established in Spring 2014 as an interdisciplinary effort by professors Scott Murray in Design and Alark Joshi and Sophie Engle in Computer Science. Events in this series were open to all faculty, staff, students, alumni of USF, and the general public.</p>

      <p>This speaker series was generously supported by the <a href="https://www.usfca.edu/arts-sciences/about">Office of the Dean in the College of Arts and Sciences</a> at the University of San Francisco, and advertised to the public via the <a href="http://www.meetup.com/visualizemydata/">Data Visualization Group in the Bay Area</a> meetup.</p>

      <p>
        <a href="http://vgl.cs.usfca.edu/dvss" class="button is-small is-light">
          Learn More&nbsp;
          <i class="fas fa-angle-double-right"></i>
        </a>
      </p>

      <h4>Student Data Visualization Contest</h4>

      <p>The goal of this contest was to encourage students to produce an interactive web-based visualization inline with the University's mission to <q>change the world from here</q>. The contest was open to all students and judged by a four-person panel. The first place winner received a Wacom Bamboo Create Pen and Touch Tablet, and two honorable mentions received an Apple iPod Shuffle and Roku LT Streaming Player.</p>

      <p>The contest was generously supported by the <a href="https://www.usfca.edu/arts-sciences/about">Office of the Dean in the College of Arts and Sciences</a> at the University of San Francisco.</p>

      <p>
        <a href="https://sites.google.com/a/cs.usfca.edu/datavis/contest" class="button is-small is-light">
          Learn More&nbsp;
          <i class="fas fa-angle-double-right"></i>
        </a>
      </p>

  </div>
</section>
