---
layout: landing
title: Home
---

<p class="alert alert-info">
  <strong>Students, interested in data visualization research?</strong> We sponsor directed studies for both undergraduate and graduate computer science students. However, we ask that you are willing to make a 2 semester commitment. If you are interested, please <strong><a href="{{ site.github.url }}/people/">contact us</a></strong> for details.
</p>

<h2>Latest News</h2>

{% for post in site.categories.news limit: 5 %}
{% include post.html data=post %}
{% endfor %}

<p class="text-center small">[&nbsp;<a href="{{ site.github.url }}/news/">View all news posts.</a>&nbsp;]</p>
