---
layout: default
title: People
---

<div class="row">
<div class="col-md-8">

<p>The <strong class="usf-green">Visualization and Graphics Lab</strong> is an informal group of faculty and students that meet regularly to discuss and work on research in the data visualization and graphics fields. If you are interested in joining our lab, please <a href="{{ site.github.url }}/contact/">contact us</a> or stop by one of our regular meetings!</p>

<h3>Faculty</h3>

{% include people.html data=site.data.people.faculty %}

<h3>Students</h3>

{% include people.html data=site.data.people.students %}
</div>

<div class="col-md-4">
<a class="twitter-timeline" href="https://twitter.com/usfcs/lists/vgl-usf" data-widget-id="667875377444884480">Tweets from https://twitter.com/usfcs/lists/vgl-usf</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
</div>
