---
layout: default
title: People
---

<p class="lead">The <strong class="usf-green">Visualization and Graphics Lab</strong> is an informal group of faculty and students that meet regularly to discuss and work on research in the data visualization and graphics fields. If you are interested in joining our group, please contact us or stop by one of our regular meetings.</p>

<div class="row">
<div class="col-md-8">

<h2>Faculty</h2>

{% include people.html data=site.data.people.faculty %}

<h2>Students</h2>

<p>The following are <em>current</em> students that are working on research as part of this lab either through paid research positions or coursework. We many more students actively participating in lab discussions or that have already graduated.</p>

{% include people.html data=site.data.people.students %}

</div>

<div class="col-md-4">
<h2>Tweets</h2>

<a class="twitter-timeline" href="https://twitter.com/usfcs/lists/vgl-usf" data-widget-id="667875377444884480">Tweets from https://twitter.com/usfcs/lists/vgl-usf</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
</div>
