
<!-- page footer -->
<footer>
  <hr/>

  <p>
    <a href="{{ site.github.url }}">Visualization and Graphics Lab</a>
    &bull;
    <a href="http://cs.usfca.edu/">Department of Computer Science</a>
    &bull;
    <a href="https://www.usfca.edu/arts-sciences/about">College of Arts and Sciences</a>
    &bull;
    <a href="http://www.usfca.edu/">University of San Francisco</a>
  </p>
</footer>

<!-- /container -->
</div>

<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</body>
</html>
