<!-- footer -->
<footer class="footer">
  <div class="container">
    <div class="content has-text-centered is-small">
      <p>
        <a href="http://vgl.cs.usfca.edu/" class="has-text-grey">Visualization and Graphics Lab</a> &bull;
        <a href="http://cs.usfca.edu/" class="has-text-grey">Department of Computer Science</a> &bull;
        <a href="https://www.usfca.edu/arts-sciences/about" class="has-text-grey">College of Arts and Sciences</a> &bull;
        <a href="http://www.usfca.edu/" class="has-text-grey">University of San Francisco</a>
      </p>

      <p>
        <a class="button is-small is-outlined" href="https://bulma.io/" style="background-color: transparent;">
          <img src="https://bulma.io/images/made-with-bulma--semiblack.png" alt="Made with Bulma" width="128" height="24">
        </a>

        <a class="button is-small is-outlined has-text-dark" href="https://fontawesome.com/" style="background-color: transparent;">
          &nbsp;
          &nbsp;
          <sup>Made with</sup>&nbsp;<i class="fab fa-font-awesome fa-lg"></i>&nbsp;<strong>FontAwesome</strong>
          &nbsp;
          &nbsp;
        </a>
    </div>
  </div>
</footer>
