
<!-- page welcome -->
<div class="jumbotron">
<div class="container">

  <h1>
    <span class="usf-green">VGL</span>
    <span class="usf-gold">@</span>
    <span class="usf-green">USF</span>
  </h1>

  <p>Welcome to <strong>Visualization and Graphics Lab (VGL)</strong> at the <strong>University of San Francisco</strong>!</p>

  <p>We are an informal group of faculty and students that meet regularly to discuss and work on research in the data visualization and graphics fields. Learn more <a href="{{ site.github.url }}/people/">about us</a>, our <a href="{{ site.github.url }}/news/">latest news</a>, <a href="{{ site.github.url }}/papers/">papers</a>, <a href="{{ site.github.url }}/projects/">current projects</a>, relevant <a href="{{ site.github.url }}/courses/">courses</a>, and upcoming <a href="{{ site.github.url }}/events/">events</a>.</p>

  <a class="btn btn-lg usf-white-green" href="{{ site.github.url }}/people/" role="button">Learn More &raquo;</a>

</div> <!-- /container -->
</div> <!-- /jumbotron -->
