---
layout: default
title: Papers
---

{% include papers.html data=site.data.papers.papers %}

<h1 class="page-header">Talks</h1>

{% include papers.html data=site.data.papers.talks %}

<ul class="fa-ul">
<li><a href="http://alignedleft.com/talks" class="fa fa-li fa-info-circle"></a> See also <a href="http://alignedleft.com/talks">http://alignedleft.com/talks</a> for the many talks and workshops given by Professor Scott Murray.</li>
</ul>

<h1 class="page-header">Books</h1>

{% include papers.html data=site.data.papers.books %}

