{% include header.html %}
{% include navbar.html %}

<!-- page content -->
<div class="container">
<h1 class="page-header">Events</h1>

<!-- page opening -->
<p class="lead">
The <strong class="usf-green">Data Visualization Speaker Series (DVSS)</strong> brings world-renowned speakers from academia and industry to campus to discuss visualization process and practice, fostering a socially engaged community of visualization practitioners and researchers.
</p>

<!-- beg row -->
<div class="row">

<div class="col-md-10 col-md-push-2">
<h2 style="margin-top: 0ex;">{{ page.title }}</h2>

{{ content }}
</div>

<div class="col-md-2 col-md-pull-10">
<!-- section navigation -->
<ul class="nav nav-pills nav-stacked">
<li role="presentation"{% if page.title == 'Latest Events' %} class="active"{% endif %}><a href="{{ site.github.url }}/events/">Latest Events</a></li>
<li role="presentation"{% if page.title == 'Event Archive' %} class="active"{% endif %}><a href="{{ site.github.url }}/events/archive.html">Event Archive</a></li>
<li role="presentation"{% if page.title == 'About DVSS' %} class="active"{% endif %}><a href="{{ site.github.url }}/events/about.html">About DVSS</a></li>
<li role="presentation"{% if page.title == 'Directions' %} class="active"{% endif %}><a href="{{ site.github.url }}/events/directions.html">Directions</a></li>
</ul>
</div>

</div>
<!-- end row -->


{% include footer.html %}
