
{% include header.html %}

{% include navbar.html %}

<!-- page content -->
<div class="container">
<h1 class="page-header">News</h1>

<!-- begin post //-->
<div class="panel panel-default">

<div class="panel-heading">
  <h3 class="panel-title">{% if page.icon %}
    <span class="pull-right"><i class="fa {{ page.icon }}"></i></span>{% endif %}
    <a href="{{ include.data.url }}">{{ page.title }}</a>
  </h3>
</div> <!-- end post heading //-->

<div class="panel-body">
{{ content }}

<div class="text-muted text-right">
  <em><small>
    Posted {{ page.date | date: '%B %d, %Y' }}{% if page.author %}
    by {{ page.author }}{% endif %}
  </small></em>
</div> <!-- end post footer //-->
</div> <!-- end post body //-->

</div> <!-- end post //-->

{% include footer.html %}
