{% include header.html %}
{% include navbar.html %}

<!-- page content -->
<div class="container">
<h1 class="page-header">Events</h1>

<!-- page opening -->
<p class="lead">
The <strong class="usf-green">Data Visualization Speaker Series (DVSS)</strong> brings world-renowned speakers from academia and industry to campus to discuss visualization process and practice, fostering a socially engaged community of visualization practitioners and researchers.
</p>

<!-- beg row -->
<div class="row">

<div class="col-md-10 col-md-push-2">
<h2 style="margin-top: 0ex;">
    {{ page.speaker }}<br/>
    <small>{{ page.title }}</small>
</h2>

<ul class="fa-ul">
<li><i class="fa fa-li fa-calendar"></i> <strong>{{ page.date | date: "%A, %B %d, %Y"}}</strong></li>
<li><i class="fa fa-li fa-clock-o"></i> {% assign start = page.schedule | first %}{% assign end   = page.schedule | last %}{{ start.start | date: "%I:%M" }} &ndash; {{ end.end | date: "%I:%M%p" | downcase }}</li>
<li><i class="fa fa-li fa-map-marker"></i> {{ page.location }} &nbsp;<a href="{{ site.github.url }}/events/directions.html"><i class="fa fa-bus text-muted"></i></a></li>
</ul>

{% if page.meetup %}<p><a class="btn btn-lg usf-white-green" href="{{ page.meetup }}" role="button">View Meetup &raquo;</a></p>{% endif %}

{{ content }}

<h3>Abstract</h3>

{{ page.abstract }}

<h3>Schedule</h3>

<table class="table table-hover table-noborder table-responsive table-condensed">
{% for row in page.schedule %}
<!-- beg row -->
<tr>
<td style="white-space: nowrap;" class="text-muted text-right">{{ row.start |  date: "%I:%M%p" | downcase }}</td>
<td width="100%">{{ row.about }}</td>
</tr>
<!-- end row -->
{% endfor %}
</table>

<h3>Biography</h3>

{{ page.profile }}

<p class="small text-muted">
    {% if page.website %}<a href="{{ page.website }}" class="btn btn-default btn-xs"><span class="text-primary"><i class="fa fa-globe"></i> {{ page.website }}</span></a>{% endif %}
    {% if page.twitter %}<a href="http://twitter.com/{{ page.twitter }}" class="btn btn-default btn-xs"><span class="text-primary"><i class="fa fa-twitter"></i> @{{ page.twitter }}</span></a>{% endif %}
</p>

{% if page.youtube %}{% assign youtube = page.youtube | split: "/" | last %}
<h3>Recording</h3>
<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ youtube }}"></iframe>
</div>
<a href="https://youtu.be/{{ youtube }}" class="small">https://youtu.be/{{ youtube }}</a></p>
{% endif %}

<h3>Event Flyer</h3>

{% if page.abstract %}<p><img src="{{ site.github.url }}/images/flyer-{{ page.semester | downcase | replace: ' ', '-' }}.jpg" class="img-responsive"></p>{% else %}<p>Pending.</p>{% endif %}

</div>

<div class="col-md-2 col-md-pull-10">
<!-- section navigation -->
<ul class="nav nav-pills nav-stacked">
<li role="presentation"><a href="{{ site.github.url }}/events/">Latest Events</a></li>
<li role="presentation" class="active"><a href="{{ site.github.url }}/events/archive.html">Event Archive</a></li>
<li role="presentation"><a href="{{ site.github.url }}/events/about.html">About DVSS</a></li>
<li role="presentation"><a href="{{ site.github.url }}/events/directions.html">Directions</a></li>
</ul>
</div>

</div>
<!-- end row -->


{% include footer.html %}
