---
layout: default
title: Courses
---

<p class="lead">Students interested in data visualization and graphics are encouraged to take one or more related courses. These include courses in data or information visualization, computer graphics, and research seminars or directed studies on similar topics.</p>

<div class="row">

<div class="col-md-6">
<h2>Regular Courses</h2>

{% include courses.html data=site.data.courses.normal %}
</div>

<div class="col-md-6">
<h2>Directed Studies</h2>

{% include courses.html data=site.data.courses.directed %}
</div>
</div>
